#root{
  background-color: #f8f4f4;
}
.main{
  display: flex;
  width: 100%;
  height: 100%;

  .carts-container{
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    .cart{
      font-size: 14px;
      width: 300px;
      height: 300px;
      background: #FFEF73;
      box-shadow: 0 0 5px rgba(0,0,0,0.5);
      margin: 10px;
      padding: 0 10px 10px 10px;
      transition-duration: 1s;
      &:hover{
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }
      .form-block{
        margin-top: 10px;
        .input-wrapper{
          display: flex;
          .input{
            margin-left: 5px;
            background: rgba(255, 255, 255, 0);
            border: none;
            border-bottom: 1px solid rgba(121, 121, 121, 0.68);
            outline:none;
            width: 94%;
          }
          .button{
            cursor: pointer;
            border-radius: 50%;
            outline:none;
            border-style: none;
            font-size: 22px;
            &:active{
              border-style: none;
              border: 1px solid rgba(121, 121, 121, 0.68);
              background: rgba(220, 211, 211, 0);
            }
          }
        }

      }

      .container{
        height: 242px;
        overflow: auto;
        border-radius: 5px;
        .cart-items{
          padding: 10px;
          background: #fff;
          .cart-item{
            display: flex;
            cursor: pointer;
            padding-left: 6px;
            line-height: 10px;
            border-radius: 5px;
            transition-duration: 0.5s;
            align-items: center;
            &:hover{
              background: #eaeaea;
            }
            .squared-four {
              position: relative;
              margin-right: 9px;
              label {
                width: 20px;
                height: 20px;
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                background: #fcfff4;
                background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
                border-radius: 4px;
                box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
                &:after {
                  content: '';
                  width: 9px;
                  height: 5px;
                  position: absolute;
                  top: 4px;
                  left: 4px;
                  border: 3px solid #333;
                  border-top: none;
                  border-right: none;
                  background: transparent;
                  opacity: 0;
                  transform: rotate(-45deg);
                }
                &:hover::after {
                  opacity: 0.5;
                }
              }
              input[type=checkbox] {
                visibility: hidden;
                &:checked + label:after {
                  opacity: 1;
                }
              }    
            }
          }
        }
      }



    }
    .create-cart{
      display: flex;
      width: 300px;
      height: 300px;
      border-radius: 5px;
      margin: 10px;
      padding: 0 10px 10px 10px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;

      .add{
        display: flex;
        position: relative;
        align-items: center;
        height: 60%;
        width: 60%;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        transition-duration: 1s;
        p {
          display: block;
          position: absolute;
          top: -31px;
          left: -150px;
          font-size: 14px;
          white-space: pre;
          color: #fff;
          opacity: 0;
          transition-duration: 1s;
        }
        &:hover{
          background: #ececec;
          border-radius: 50%;
          & p{
            left: -60px;
            color: #000;
            opacity: 1;
          }
          .vertical{
            transform: rotate(270deg);  
          }
          .horizontal{
            transform: rotate(270deg); 
          }
        }
        &:active{
          transform: scale(50);
        }
        .vertical{
          position: absolute;
          width: 5px;
          height: 80%;
          background: #b3b3b3;
          transition-duration: 1s;
        }
        .horizontal{
          position: absolute;
          height: 5px;
          width: 80%;
          background: #b3b3b3;
          transition-duration: 1s;
        }
      }
    }
  }

  .create-category{
    display: flex;
    margin: 100px auto;
    width: 50%;
    min-height: 100px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background-color: #ffffff;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .content{
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      .input-wrapper{
        display: flex;
        width: 80%;
        margin: 15px auto;
        text-align: center;
        justify-content: flex-start;
        flex-direction: column;
        &.sub{
          font-size: 14px;
          flex-direction: row;
          .input{
            min-width: 100px;
            width: 100%;
            height: 30px;
            margin-left: 5px;
            background: rgba(255, 255, 255, 0);
            border: none;
            border-bottom: 1px solid rgba(121, 121, 121, 0.68);
            outline:none;  
            font-size: 14px;         
          }
          .button{
            border: none;
            background-color: #fff;
            font-size: 24px;
            cursor: pointer;
          }
        }
        .input{
          min-width: 100px;
          width: 100%;
          height: 30px;
          margin-left: 5px;
          background: rgba(255, 255, 255, 0);
          border: none;
          border-bottom: 1px solid rgba(121, 121, 121, 0.68);
          outline:none;
          font-size: 18px;
        }
        .button-wrapper{
          display: flex;
          justify-content: flex-end;
          margin-top: 5px;
          .button{
            width: 100px;
          }
        }
        
        .error{
          color:green;
          margin: 10px 5px;
        }
      }
      .select-color{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 20px;
          span{
            border: 3px solid #cfcfcf;
            width: 20px;
            min-width: 20px;
            height: 20px;
            margin: 0 5px;
            cursor: pointer;
            border-radius: 50px;
            &:hover{
              transform: scale(2);
            }
          }
      }
      .new-task{
        display: flex;
        justify-content: flex-start;
        width: 70%;
        margin: 15px auto;
        border-bottom: 1px solid rgba(121, 121, 121, 0.68);
        span {
          padding-right: 10px;
        }
      }

      .error{
        color:green;
        text-align: right;
        width: 89%;
        margin: 0  5px 10px 5px;
      }
    }
  }
}